/*------css-demo-------*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

body{
 font-family: "Oswald", "sans-serif";
 background-color:rgb(12, 161, 161);

}